<h2>{{title}}</h2>
<p>{{description}}</p>
<br>
{{#each informations}}
    <div>{{this.nom}}</div>
    <div>{{this.prenom}}</div>
    <div>{{this.courriel}}</div>
    <div>{{this.tel}}</div>
    <div>{{this.sujet}}</div>
    <div>{{this.champ}}</div>
{{/each}}