<h2>{{title}}</h2>
<p>{{description}}</p>
<p>{{valide}}</p>

{{#each informations}}
<p>Les champs <span class="red">*</span> sont obligatoires</p>
<form id="formulaire" action="contact" method="POST">
    <br>Nom <span class="red">*</span><br>
    <input id="nom" type="text" name="nom" value="{{this.nom}}">
    <br>Prenom <span class="red">*</span><br>
    <input id="prenom" type="text" name="prenom" value="{{this.prenom}}">
    <br>Adresse courriel <span class="red">*</span><br>
    <input id="courriel" type="text" name="courriel" value="{{this.courriel}}">
    <br>Numéro de téléphone <span class="red">*</span><br>
    <input id="telephone" type="text" name="tel" value="{{this.tel}}">
    <br>Sujet de la demande <span class="red">*</span><br>
    <select id="select" name="sujet">
        <option value="">-choisir-</option>
        <option value="Inscription">Inscription</option>
        <option value="Demande de formation">Demande de formation</option>
    </select>
    <br>Détails de votre demande <span class="red">*</span><br>
    <textarea id="demande" name="champ" cols="30" rows="10">{{this.champ}}</textarea>
    <br><input id="submit" type="submit" value="Soumettre">
</form>
{{/each}}

{{#each msgErreur}}
<p class="red">{{this}}</p>
{{/each}}