<h2>{{title}}</h2>
<p>{{description}}</p>

<p>Les champs * sont obligatoires</p>
<form id="formulaire" action="contact" method="POST">
    <br>Nom*<br>
    <input id="nom" type="text" name="nom">
    <br>Prenom*<br>
    <input id="prenom" type="text" name="prenom">
    <br>Adresse courriel*<br>
    <input id="courriel" type="text" name="courriel" placeholder="exemple@email.com">
    <br>Numéro de téléphone*<br>
    <input id="telephone" type="text" name="tel" placeholder="xxx-xxx-xxxx">
    <br>Sujet de la demande*<br>
    <select id="select" name="sujet">
        <option value="">-choisir-</option>
        <option value="Inscription">Inscription</option>
        <option value="Demande de formation">Demande de formation</option>
    </select>
    <br>Détails de votre demande*<br><textarea id="demande" name="champ" cols="30" rows="10"></textarea>
    <br><input id="submit" type="submit" value="Soumettre">
</form>
