<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>École de formation continue</h1>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/nosformations">Nos Formations</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
        <hr>
    {{{body}}}
  </body>
</html>
