<h2>{{title}}</h2>
<p>{{description}}</p>

{{#each articles}}
    <a href="/blog/blog_article/{{this.id}}">
        <h3>{{this.titre}}</h3>
        <div>Auteur: {{this.auteur}}</div>
    </a>
    <hr>
{{/each}}