
<h2>{{description}} {{type}}</h2>

{{#each formation_mongo}}
    <a href="/nosformations/formation/{{this.id}}">
        <h3>{{this.nom}}</h3>
        <div>{{this.desc}}</div>
    </a>
    <hr>
{{/each}}