<h2>{{formation.nom}}</h2>
    <div>Type de formation: {{formation.type}}</div>
    <div>Durée: {{formation.duree}}</div>
    <div>Coût: {{formation.cout}}</div>
    <br>
    <div>{{formation.desc}}</div>
